.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f5f5f5;

	.icon {
		color: #7e7e7e;
	}

	.MuiContainer-root {
		background-color: #ffffff;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		margin: 0 auto;
		text-align: center;
		.to_ink {
			text-decoration: none;
			color: #ffffff;
		}
	}
}
