.page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f5f5f5;
	.form_content {
		width: 400px;
		margin: 0 auto;
		background-color: white;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

		.title {
			text-align: center;
			margin-bottom: 20px;
		}

		.name,
		.email,
		.password {
			margin-bottom: 10px;
		}

		.submit {
			margin: 0 auto;
			text-align: center;
		}
	}
}
